.todo {
  align-items: center;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;
  font-size: 1rem;
  cursor: pointer;

  input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.todo__subtext {
  color: #999999;
}

.todo-completed {
  color: $light-color;
  text-decoration: line-through;
}
